/*===========================*/
/*         VARIABLES         */
/*===========================*/

:root {

    --gray-50: hsl(0, 0%, 98%);
    --gray-500: hsl(0, 0%, 41%);
    --gray-950: hsl(0, 0%, 8%);

    --font-primary: 'Epilogue', Arial, Helvetica, sans-serif;

}



/*===========================*/
/*           GERALS          */
/*===========================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1rem;
    font-display: swap;
}